<div class="admin-container">
  <a href="#landing"><div class="admin-button" ng-click="adminToggle()">PLAY</div></a>
  
  <div class="header">
    Let's Add Some Honking Songs!<br>
  </div>

  <div class="current-list">
    <div class="song" ng-repeat="song in songs">
      <div class="song-marker" ng-click="deleteOption(song, $index)">✖︎</div> <!-- this is a function of ng repeat -->
      <div class="song-details">{{song.title}} - {{song.artist}}</div>
        <div class="confirm" ng-show="song.delete"> 
          You will delete "{{song.title}}"
        <div><span ng-click="deleteSong(song, $index)">That's Right</span><span ng-click="deleteOption(song, $index)">Whoops, No</span></div>
    </div>
    </div>
  </div>

  <div class="new-song">
    <div>
      Title: <br><input type="text" ng-model="title">
    </div>
    <div>
      Artist: <br><input type="text" ng-model="artist">
    </div>
    <div> Url: <br><input type="text" ng-model="url"></div>
    <button id="add-button" ng-click="addSong()">Add Song</button>
  </div>



</div>